
.App {
  text-align: center;
}

/* .career-container {

} */

/* career skills and education scrollable containers */
.skills-education-container {
  display: flex;
  justify-content: space-around;
}
