body {
  background-image: url(./img/office.jpg);
  background-color: rgba(80, 129, 168, 0.719);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  
}

.break {
  width: 30%;
  background-color: #40b2e7bf;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1px;
  border: 1px solid white;
}

#slogan {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: rgb(207, 232, 253);
  text-shadow: 2px 2px #000000;
}

.content-container {
  padding: 30px;
  margin: 30px;
}


/* career skills and education scrollable containers */
.skills-education-container {
  display: flex;
  justify-content: space-around;
}

